# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.env
venv/
env/

# Datos de señales (pueden ser muy pesados)
*.csv
*.edf
*.mat
*.bin
*.dat

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
